@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Armata);

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

p {
  margin-bottom: 2em;
}

.textShadow {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.boxShadow {
  -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.home {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  background: url("https://i.imgur.com/0zqAc4t.jpg") 50% 0 repeat fixed;
}

.about {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  background: url("http://wallpoper.com/images/00/40/30/48/nature-water_00403048.jpg") 50% 0 no-repeat;
}

.contact {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  background: url("http://wallpoper.com/images/00/40/30/48/nature-water_00403048.jpg") 50% 0 repeat fixed;
}

.content {
  position: absolute;
  top: 50px;
  width: 80%;
  height: 458px;
  padding: 0 10%;
  text-align: center;
}

.articleTitle {
  margin-bottom: 0.25em;
  font-family: 'Roboto', cursive;
  font-size: 4em;
  line-height: 1em;
  color: #fff;
}

  .articleTitle .dark {
    color: #333;
  }

.articleSubTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1em;
  color: #333;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-open{ height: 100%; }

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #ccc;
}

.open-close-btn {
    position: fixed;
    top: 40px;
    right: 40px;
  text-decoration: none;
  z-index:10;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
}


/* Hamburger Icon */
#hamburger-icon{
  display: block;
  width: 50px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


 #hamburger-icon span {
  display: block;
  position: fixed;
  height: 7px;
  width: 100%;
  background: #333;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Hamburger Lines  */

 #hamburger-icon span:nth-child(1) {
  top: 0px;
}

 #hamburger-icon span:nth-child(2), #hamburger-icon span:nth-child(3) {
  top: 16px;
}

 #hamburger-icon span:nth-child(4) {
  top: 32px;
}

#hamburger-icon.hamburger-open span{background:#fff}

 #hamburger-icon.hamburger-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

 #hamburger-icon.hamburger-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

 #hamburger-icon.hamburger-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

 #hamburger-icon.hamburger-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}